# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion folders
cmake-build-debug
.idea

# Code coverage (testability files)
*.gcno
*.gcda

# Documentation
docs

# MACOS
.DS_Store

# Examples
wrench-simple-example-cloud
wrench-simple-example-batch

#JSON
host_utilization_layout.json
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
Makefile
cmake_install.cmake
examples/basic-examples/bare-metal-bag-of-tasks/CMakeFiles/
examples/basic-examples/bare-metal-bag-of-tasks/Makefile
examples/basic-examples/bare-metal-bag-of-tasks/cmake_install.cmake
examples/basic-examples/bare-metal-bag-of-tasks/wrench-example-bare-metal-bag-of-tasks
examples/basic-examples/bare-metal-chain-scratch/CMakeFiles/
examples/basic-examples/bare-metal-chain-scratch/Makefile
examples/basic-examples/bare-metal-chain-scratch/cmake_install.cmake
examples/basic-examples/bare-metal-chain-scratch/wrench-example-bare-metal-chain-scratch
examples/basic-examples/bare-metal-chain/CMakeFiles/
examples/basic-examples/bare-metal-chain/Makefile
examples/basic-examples/bare-metal-chain/cmake_install.cmake
examples/basic-examples/bare-metal-chain/wrench-example-bare-metal-chain
examples/basic-examples/bare-metal-complex-job/CMakeFiles/
examples/basic-examples/bare-metal-complex-job/Makefile
examples/basic-examples/bare-metal-complex-job/cmake_install.cmake
examples/basic-examples/bare-metal-complex-job/wrench-example-bare-metal-complex-job
examples/basic-examples/bare-metal-data-movement/CMakeFiles/
examples/basic-examples/bare-metal-data-movement/Makefile
examples/basic-examples/bare-metal-data-movement/cmake_install.cmake
examples/basic-examples/bare-metal-data-movement/wrench-example-bare-metal-data-movement
examples/basic-examples/bare-metal-multicore-tasks/CMakeFiles/
examples/basic-examples/bare-metal-multicore-tasks/Makefile
examples/basic-examples/bare-metal-multicore-tasks/cmake_install.cmake
examples/basic-examples/bare-metal-multicore-tasks/wrench-example-bare-metal-multicore-tasks
examples/basic-examples/batch-bag-of-tasks/CMakeFiles/
examples/basic-examples/batch-bag-of-tasks/Makefile
examples/basic-examples/batch-bag-of-tasks/cmake_install.cmake
examples/basic-examples/batch-bag-of-tasks/wrench-example-batch-bag-of-tasks
examples/basic-examples/batch-pilot-job/CMakeFiles/
examples/basic-examples/batch-pilot-job/Makefile
examples/basic-examples/batch-pilot-job/cmake_install.cmake
examples/basic-examples/batch-pilot-job/wrench-example-batch-pilot-job
examples/basic-examples/cloud-bag-of-tasks-energy/CMakeFiles/
examples/basic-examples/cloud-bag-of-tasks-energy/Makefile
examples/basic-examples/cloud-bag-of-tasks-energy/cmake_install.cmake
examples/basic-examples/cloud-bag-of-tasks-energy/wrench-example-cloud-bag-of-tasks-energy
examples/basic-examples/cloud-bag-of-tasks/CMakeFiles/
examples/basic-examples/cloud-bag-of-tasks/Makefile
examples/basic-examples/cloud-bag-of-tasks/cmake_install.cmake
examples/basic-examples/cloud-bag-of-tasks/wrench-example-cloud-bag-of-tasks
examples/basic-examples/io-pagecache/CMakeFiles/
examples/basic-examples/io-pagecache/Makefile
examples/basic-examples/io-pagecache/cmake_install.cmake
examples/basic-examples/io-pagecache/wrench-example-io-pagecache-multi
examples/basic-examples/io-pagecache/wrench-example-io-pagecache-nfs
examples/basic-examples/io-pagecache/wrench-example-io-pagecache-single
examples/basic-examples/virtualized-cluster-bag-of-tasks/CMakeFiles/
examples/basic-examples/virtualized-cluster-bag-of-tasks/Makefile
examples/basic-examples/virtualized-cluster-bag-of-tasks/cmake_install.cmake
examples/basic-examples/virtualized-cluster-bag-of-tasks/wrench-example-virtualized-cluster-bag-of-tasks
examples/real-workflow-example/CMakeFiles/
examples/real-workflow-example/Makefile
examples/real-workflow-example/cmake_install.cmake
examples/real-workflow-example/wrench-example-real-workflow-batch
examples/real-workflow-example/wrench-example-real-workflow-cloud
install_manifest.txt
sonar-project.properties
tools/wrench/wrench-dashboard
tools/wrench/wrench-init/wrench-init
unit_tests
